@import "abstract/_abstract.scss";

.dec {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-content: center;
	&_img {
		filter: saturate(0.4);

		&_box {
			flex: 1;
		}
	}
}
